:root {
    --font_direction-top: 'Raleway Light';
    --font_change-address:'Relaway';
    --font-menu-banner:'Raleway SemiBold';
    --color-red:#e32213;  
}

*{
    margin: 0;
    padding: 0;
}

.container-logo{
    background-color:var(--color-red) ;
    border-radius:50%;
    width: 235px;
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: -40px;
    margin-top: -30px;
}

.container-logo img{
    width: 140px;
    height: 60px;
    margin-left: 35px;
}

.container-banner{
    height: 160px;
}

.direction-options{
    display: flex;
    justify-content:center;
    padding: 8px;
}

.enter-address{
    margin-right: 8px;
    font-size: 14px;
    font-family: var(--font_direction-top);
    font-weight: lighter;
    text-decoration: none;
    color:inherit;

}

.change-address{
    font-size: 14px;
    font-family:var(--font_direction-top);
    text-decoration: none;
    color: var(--color-red);
}

.line{
    width: 100%;
    height: 2px;
    background-color: var(--color-red);
}

.container-menu-options{
    height:124px;
    display:flex;
    margin-left: 210px;
}

/* ------------------------------------ */

.container-menu{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 100px 1fr 1fr;
    margin-top: -30px;
    align-content: center;
}

.menu{
    display: block;
    width: 52px;
    height: 52px;
    background-color:var(--color-red);
    border-radius: 50%;
    text-align: center;
    margin-right: 35px;
}

.menu img{
    width: 34px;
    height: 34px;
    padding: 6px 9px;
}


a, .text-menu{
    font-family:'Raleway';
    font-size: 9px;
    font-weight:900;
    text-decoration:none;
    color: inherit;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    white-space:nowrap;
}


/* ------------------------------------------------- */

.container-options{
    display: flex;
    width: 100%;
    align-items:center;
    justify-content:flex-end;
    margin-right: 15px;
}

.container-options .options-user{
    width: 32px;
    height: 32px;
    margin-left: 12px;
    margin-top: -10px; 
}

/* responsive tablet */

@media only screen and (max-width: 768px){
    .direction-options{
        display: none;
    }
    
    .container-menu{
        overflow:auto;
    }

    .container-menu::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    .container-menu::-webkit-scrollbar:horizontal {
        height: 10px;
    }

    .container-menu::-webkit-scrollbar-thumb {
        background-color:var(--color-red);
        border-radius: 20px;
        border: 2px solid #000000;
    }

    
    .container-options .options-user{
        width: 38px;
        height: 38px;
    }

    a, .text-menu{
        white-space:normal;
    }
    
}

/* responsive mobile */
@media only screen and (max-width: 375px){
    .container-logo{
        width: 130px;
        height: 130px;
        top:10px;
        
       
    }

    .container-logo img{
        width: 60px;
        height: 25px;
        margin-left: 35px;
    }


    .direction-options{
        display: none;
    }


}