@font-face {
    font-family: font;
    src: url(../assets/fonts/Raleway-ExtraBold.ttf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: text;
    src: url(../assets/fonts/Raleway-Medium.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Raleway;
    src: url(../assets/fonts/Raleway-Light.ttf);
    font-style: normal;
    font-weight: normal;
}

body{
    font-family: font;
    font-size: 18px;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}
.card-food{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 20px;
}
#carne-asada{
    width: 600px;
    height: 550px;
}
.img a{
    font-family: text;
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.img #color{
    font-family: text;
    color: #FF0000;
    font-weight: bold;
}
.img #carne-asada{
    border-radius: 15px;
}
.img .descuento{
    font-family: font;
    display: flex;
    position: relative;
    bottom: 450px;
    left: 433px;
    height: 55px;
    width: 250px;
}
.img #icono{
    position: relative;
    z-index: 2;  
}

.img #red{
    background-color: #DA1F05 ;
    width: 140px;
    text-align: center;
    position: relative;
    right: 27px;
    z-index: 1;
    color:white;
    height: 45px;
    top: 5px;
}
.img #red p{
    position: relative;
    left: 10px;
    bottom: 5px;
}
.text{
    margin-top: 45px;
    margin-left: 33px;
}
.text h3{
    background-color: red;
    width: 600px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
}
.text #text-pricipal{
    font-family: Raleway;
    font-size: 25px;
    margin: 0;
    padding-left: 40px;
}
.precio {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 40px;
}
.precio hr{
    margin: 15px;
    background-color: red;
    border-color: red;
    height: 60px;
    position: relative;
}
.precio #antes{
    font-family: Raleway;
    font-size: 30px;
}
#antes span {
    text-decoration-line: line-through; 
    text-decoration-color:red ;
    text-decoration-style:initial ;
}
#ahora{
    font-size: 45px;
    color: red;
}
.text h4{
    margin: 0;
    font-family:font ;
    margin-bottom: 15px;
    padding-left: 40px;
}
.select{
    display: flex;
    flex-direction: column;
}
#cubiertos{
    font-family: font;
    height: 40px;
    width: 550px;
    margin-left: 40px;
    margin-bottom: 4px;
}
#bebida{
    font-family: font;
    height: 40px;
    width: 550px;
    margin-left: 40px;
}
select{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    background: #fff url('../assets/icons/proximo.png') no-repeat;
    background-size: 25px;
    background-position:  right 10px center;
    padding-left: 8px;
    border-radius: 8px;
    border:1px solid #000;
    font-size: 18px;
    color: red;
}
textarea{
    margin-top: 15px;
    margin-left: 40px;
    font-family: text;
    font-size: 17px;
    border-color: #000;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
textarea::placeholder{
    color:#000;
}
.agregar {
    padding-left: 40px;
    padding-top: 15px;
}
.agregar #total{
    width: 210px;
    height: 60px;
    margin: 0;
    border-radius: 10px;
    font-family: font;
    text-align: center;
    font-size: 40px;
    border-color:red ;
    border: 2px solid  red;
}
#mas{
    width: 20px;
    position: relative;
    right: 70px;
}
#menos{
    width: 20px;
    position: relative;
    right: 200px;
}
.agregar #boton{
    padding-left: 10px;
    font-family: font;
    width: 285px;
    height: 60px;
    font-size: 35px;
    border-radius:10px ;
    border-color: red;
    background-color: red;
    color: white;
}

@media  screen and (max-width:800px){
    .card-food{
        grid-template-rows: 1fr;
        grid-template-columns: none;
    }
    .text{
        margin-left: 0px;
        margin-top: -130px;
    }
    .text h3{
        width: 560px;
        margin-left: 20px;
    }
    .text #text-pricipal{
        padding-left: 30px;
    }
    .text .precio{
        padding-left: 30px;
    }
    .text h4{
        padding-left: 30px;
    }
    .text #cubiertos{
        margin-left: 30px;
    }
    #bebida{
        margin-left: 30px;
    }
    textarea{
        margin-left: 30px;
    }
    .agregar{
        padding-left: 30px;
    }
}
    
