@font-face {
    font-family: font;
    src: url(../assets/fonts/Raleway-ExtraBold.ttf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: text;
    src: url(../assets/fonts/Raleway-Medium.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Raleway;
    src: url(../assets/fonts/Raleway-Light.ttf);
    font-style: normal;
    font-weight: normal;
}
:root{
    --color-bgc-card:#f4f4f4;
}
body {
    font-size: 18px;
    padding: 0;
    margin: 0;
}
.card-checkOut{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    margin: 0;
    padding-left: 325px;
}
.text-one {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.text-one h3{
    margin: 10px;
    font-family: font;
    font-weight: bold;
    color: red;
}
.text-one img {
    width: 17px;
    height: 17px;
}
.card-container {
    background-color: var(--color-bgc-card);
    width: 700px;
    height: 200px;
    margin-bottom: 35px;
    border-radius: 15px;
}
.container-title{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: font;
    color: red;
}
.container-title h2{
    padding-left: 40px;
    padding-top: 15px;
}
.container-title img {
    padding-top: 18px;
    padding-left: 20px;
    width: 19px;
    height: 19px;
}
.container-logo{
    position: relative;
    left: 35.5em;
    bottom:110px ;
}
.container-logo img{
    width: 75px;
    height: 75px;
}
.container-text{
    position: relative;
    bottom: 90px;
    left: 40px;
    line-height: 1px;
    font-size: 15px;
    font-family: text;
}
.logo-secundarios{
    position: relative;
    bottom: 70px;
    left: 400px;
}
#card-two{
    height: 220px;
}
#text{
    bottom: 160px;
}
form p{
    margin: 0;
}
#direccion,#option{
    margin: 10px;
}
#logo-two{
    bottom: 180px;
}
.container-pago{
    font-family: text;
    position: relative;
    bottom: 100px;
    left: 40px;
}
.container-pago p{
    margin: 2px;
}
.container-pago span{
    padding-left: 400px;
    text-align: start;
}
#Total{
    font-family: font;
    font-weight: bold;
}
#total{
    padding-left: 428px;
}
#envio{
    padding-left: 425px;
}
.boton{
    width: 660px;
    height: 150px;
}
.boton button{
    width: 660px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
    border: 5px solid #810000;
    background-color: red;
    font-family: font;
    color: white;
}
@media  (max-width:800px) {
    .card-checkOut{
        padding-left: 100px;
    }
}